<!DOCTYPE html>
<html lang="fr">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!--Optional-->
	<meta charset="UTF-8">
	<title>MY APP</title>
</head>
<body>

	<%
	for(var i=0; i<labels.length; i++){%>
		<span>Application : <%= labels[i] %> </span> <br>
	<%}%>
<div class="container">
   <canvas id="myChart" width="740" height="200"></canvas>
</div>

<script>
var data = [
    {
        value: 20,
        color:"#637b85"
    },
    {
        value : 30,
        color : "#2c9c69"
    },
    {
        value : 40,
        color : "#dbba34"
    },
    {
        value : 10,
        color : "#c62f29"
    }
 
];
var canvas = document.getElementById("myChart");
console.log("avant chart");
var ctx = canvas.getContext("2d");
new Chart(ctx).Doughnut(data);
console.log("après chart");
</script>
</body>

</html>
