<!DOCTYPE html>
<html lang="fr">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!--Optional-->
	<meta charset="UTF-8">
	<title>MY APP</title>
</head>
<body>
	<%
	for(var i=0; i<dates.length; i++){%>
		<span>Date : <%= dates[i] %> </span> <br>
	<%}%>
</body>

</html>
