<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>

	<h1> Analyse de traces d'usage d'un outil</h1>

<div>
	<a href="/application">Applications</a>
	</br>
	<a href="/session">Sessions</a>
	</br>
		<a href="/version">Versions</a>
	</br>
		<a href="/projectSession">Projects sessions</a>
	</br>
		<a href="/source">Sources</a>
	</br>
		<a href="/timestamp">Timestamps</a>
	</br>
	<a href="/date">Dates</a>

</div>



</body>

</html>
